.contact-title {
  font-size: 27px;
  line-height: 1.2;
  color: #3ba8c0;
  margin-bottom: 40px;
}
.form-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 85%;
}
.input-wrap {
  margin-bottom: 20px;
}
.input-wrap:last-child {
  min-width: 100%;
}
.input-wrap label {
  display: block;
}
.contact-input-text {
  width: 100%;
  height: 200px;
}
