.contact {
  padding-left: 25px;
  max-width: 90%;
  padding: 30px;
}
.contact-title {
  font-size: 27px;
  line-height: 1.2;
  color: #3ba8c0;
  margin-bottom: 40px;
}
.form-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input-wrap {
  margin-bottom: 20px;
}
.input-wrap:last-child {
  min-width: 100%;
}
.input-wrap label {
  display: block;
}
.contact-input-text {
  width: 100%;
  height: 120px;
}
.contact-buttons {
  display: flex;
  justify-content: space-between;
}